@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  font-family: 'Roboto', sans-serif;
}

nav{
  width: 100%;
  height: 60px;
  padding: 20px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav span{
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 40px;
}
.primary-links{
  width: 80%;
  margin-left: 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}
.secondary-links{
  width: 40%;
  margin-left: 25px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  font-size: 18px;
}

.hero{
  height: 85vh;
  background-image: url(./images/HeroBanner_PC.jpg.thumb.webp);
  background-size: cover;
}

.hero .text-section{
  height: 100%;
  width: 40%;
  padding: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.text-section h3{
  font-size: 22px;
  font-weight: 400;
  color: white;
}

.text-section h1{
  font-size: 50px;
  font-weight: 400;
  color: white;
}

.text-section p{
  font-size: 22px;
  color: white;
  margin-bottom: 20px;
}

.notify-btn{
  height: 44px;
  width: 320px;
  font-size: 18px;
  border-radius: 2px;
  border: none;
}

.mobile{
  height: 80vh;
  padding: 40px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.mobile-text-section{
  width: 40%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mobile-image-section{
  height: 90%;
  width: 60%;
  background-image: url(./images/10R-pc-.jpg.thumb.webp);
  background-size: cover;
  background-position: center;
}

.mobile-text-section h3{
  font-size: 25px;
  font-weight: 400;
}

.mobile-text-section h1{
  font-size: 60px;
  font-weight: 400;
}

.mobile-text-section sup{
  font-weight: 300;
}
.mobile-text-section p{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 35px;
}

.buy-btn{
  padding: 13px 90px;
  font-size: 20px;
  border-radius: 3px;
  border: none;
  margin-right: 10px;
  background-color: black;
  color: white;
  
}

.learn-btn{
  padding: 13px 90px;
  font-size: 20px;
  background-color: white;
  color: black;
  border: black 1px solid;
  border-radius: 3px;
}

.card{
  height: 60vh;
  padding: 10px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.tv-card{
  height: 550px;
  width: 880px;
  padding: 25px;
  background-color: #f8f8f8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-text-section{
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-image-section img{
  height: 400px;
}
.card .btn-section{
  margin-top: 15px;
}
.card .buy-btn{
  padding: 12px 60px;
  font-size: 18px;
}

.card .learn-btn{
  padding: 12px 40px;
  font-size: 18px;
}

.card-text-section h3{
  font-size: 22px;
  font-weight: 400;
}
.card-text-section h1{
  font-size: 45px;
  font-weight: 400;
}
.card-text-section p{
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 15px;
}

.hot-picks{
  height: 100vh;
  padding: 40px 120px;
}

.hot-picks h3{
  font-size: 20px;
  font-weight: 400;
  border-bottom: 1px solid rgb(199, 197, 197);
  padding-bottom: 10px;
}

.hot-categories{
  list-style: none;
  width: 45%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  margin-top: 30px;
}

.hot-categories li{
  font-size: 22px;
  font-weight: 400;
}

.hot-categories li:first-child{
  border-bottom: red 1px solid;
  padding-bottom: 5px;
}

.product-card-container{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-card{
  width: 380px;
  height: 580px;
  background-color: white;
}

.product-card .product-image{
  width: 100%;
  height: 400px;
  background-color: #f8f8f8;
}

.product-image img{
  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.5s;
}

.product-image img:hover{
  transform: scale(1.1);
}

.product-details h1{
  font-size: 32px;
  font-weight: 400;
  margin-top: 10px;
}
.product-details .discount{
  color: red;
  font-size: 20PX;
}
.product-details .EMI{
  color: black;
  font-size: 20PX;
}
.product-details .buy-btn{
  background-color: #fff;
  width: 100%;
  height: 50px;
  color: black;
  font-size: 23px;
  text-align: left;
  padding: 0;
  margin-top: 5px;
  transition: 1s;
}
.product-details{
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card:hover .buy-btn{
  width: 100%;
  height: 50px;
  margin-top: 5px;
  background-color: black;
  color: #fff;
  text-align: center;
}

.oneplus-featuring{
  height: 100vh;
  padding: 20px 120px;
  background-color: black;
}

.oneplus-featuring-card{
  height: 60vh;
  margin-top: 50px;
  display: flex;

}

.featuring-text-section{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.featuring-text-section h1{
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
.featuring-text-section .deliver{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.featuring-text-section .learn{
  font-size: 20px;
  font-weight: 400;
  border-bottom: gray 1px solid;
  padding-bottom: 4px;
  width: 150px;
  margin-top: 20px;
  color: #fff;
}
.featuring-image-section{
  background-image: url(./images/pc_4.jpg.thumb.webp);
  width: 70%;
  height: 100%;
  background-size: cover;
}

.oneplus-featuring h3{
  font-size: 20px;
  font-weight: 400;
  border-bottom: gray 1px solid;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 20px;
}

.oneplus-featuring .empower{
  font-size: 50px;
  font-weight: 400;
  margin-top: 40px;
  color: #fff;
}
.oneplus-featuring .discover{
  font-size: 50px;
  font-weight: 400;
  color: red;
}
.never-settle{
  height: 100vh;
  padding: 20px 120px;
  background-color: black;
}

.never-settle h3{
  font-size: 20px;
  font-weight: 400;
  border-bottom: gray 1px solid;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 20px;
}
.settle-image-section{
  background-image: url(./images/OneTopia-PC.jpg.thumb.webp);
  width: 70%;
  height: 100%;
  background-size: cover;
  margin-right: 20px;
}

.never-settle  .relentless{
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
.never-settle  .inspire{
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
.never-settle  .settle{
  font-size: 50px;
  font-weight: 400;
  color: red;
}

.never-settle .heading{
  display: flex;
}

.settle-featuring-card{
  height: 60vh;
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;

}

.settle-text-section{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.settle-text-section h1{
  font-size: 50px;
  font-weight: 400;
  color: #fff;
}
.settle-text-section .deliver{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
}
.settle-text-section .learn{
  font-size: 20px;
  font-weight: 400;
  border-bottom: gray 1px solid;
  padding-bottom: 4px;
  width: 150px;
  margin-top: 20px;
  color: #fff;
}
.oxygen{
  height: 70vh;
  padding: 10px 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: black;
}
.oxygen-card{
  height: 550px;
  width: 880px;
  background-color: #222222;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.oxygen-text-section{
  height: 90%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.oxygen-text-section h3{
  font-size: 24px;
  font-weight: 400;
  color: hsla(0,0%,100%,.3);
}
.oxygen-text-section h1{
  font-size: 42px;
  font-weight: 300;
  color: white;
}
.oxygen-text-section p{
  font-size: 20px;
  font-weight: 400;
  color: white;
}
.oxygen-text-section .learn{
  font-size: 20px;
  font-weight: 400;
  border-bottom: gray 1px solid;
  padding-bottom: 4px;
  width: 120px;
  margin-top: 20px;
  color: #fff;
}

.oxygen-image-section img{
  height: 548px;
}

.red-cable{
  height: 110vh;
  padding: 20px 120px;
  background-color: black;
}

.red-cable h3{
  font-size: 22px;
  font-weight: 400;
  border-bottom: gray 1px solid;
  padding-bottom: 10px;
  color: #fff;
  margin-top: 20px;
}
.cable-image-section{
  background-image: url(./images/RCC-pc.jpg.thumb.webp);
  width: 70%;
  height: 100%;
  background-size: cover;
  margin-right: 20px;
}
.red-cable-card{
  height: 70vh;
  margin-top: 50px;
  display: flex;
  flex-direction: row-reverse;
}

.red-cable  .inspire{
  font-size: 50px;
  font-weight: 300;
  color: #fff;
  margin-top: 20px;
}
.red-cable .club{
  font-size: 50px;
  font-weight: 300;
  color: red;
  width: 20%;
}



.cable-text-section{
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cable-text-section h1{
  font-size: 50px;
  font-weight: 300;
  color: #fff;
}
.cable-text-section .deliver{
  font-size: 22px;
  font-weight: 400;
  color: #fff;
}
.cable-text-section .learn{
  font-size: 22px;
  font-weight: 400;
  border-bottom: gray 1px solid;
  padding-bottom: 4px;
  width: 100px;
  margin-top: 30px;
  color: #fff;
}
.community{
  height: 90vh;
  padding: 20px 120px;
  background-color: white;
}

.community-card{
  height: 70vh;
  margin-top: 50px;
  display: flex;

}

.community-text-section{
  height: 100%;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.community-text-section h1{
  font-size: 50px;
  font-weight: 400;
  color: black;
}
.community-text-section .deliver{
  font-size: 18px;
  font-weight: 400;
  color: black;
}
.community-text-section .learn{
  font-size: 20px;
  font-weight: 400;
  border-bottom: gray 1px solid;
  padding-bottom: 4px;
  width: 110px;
  margin-top: 20px;
  color: black;
}
.community h3{
  font-size: 22px;
  font-weight: 400;
  color: black;
  border-bottom: #888787 1px solid;
  padding-bottom: 15px;
  margin-top: 20px;
}
.community-image-section-container{
  width: 80%;
  height: 100%;
  overflow: hidden;
}

.community-image-section-container .community-image-section{
  width: 100%;
  height: 100%;
  background-image: url(./images/POC-pc.jpg.thumb.webp);
  background-size: cover;
  transition: 0.5s ease-in-out;
}
.community-image-section-container .community-image-section:hover{
  transform: scale(1.12);
}






















 



